body {
    font-family: 'Noto Sans', sans-serif !important;
    /*font-family: Arial, sans-serif;*/
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-size: 1rem;
    font-weight: 400 !important;
}

header {
    background-color: #fff;
    color: #363636 !important;
    padding: 20px;
    text-align: center;
}

header p{
    font-size: 1.25rem;
}

.container {
    max-width: 999px !important;
    margin: 20px auto !important;
    padding: 20px;
    background-color: #fff;
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);*/
}

h1 {
    font-size: 2.3rem !important;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.7rem !important;
    margin-top: 20px !important;
    margin-bottom: 15px !important;
    text-align: center;
    color: #363636 !important;
    font-weight: 600 !important;
}

h3 {
    font-size: 1.25rem !important;
    color: #363636 !important;
    font-weight: bold !important;
    margin-top: 30px !important;
    margin-bottom: 15px !important;
}

p {
    margin-bottom: 15px;
}

img {
    max-width: 100%;
    height: auto;
    margin: 0.5rem 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: disc;
    margin-left: 2rem;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* 为团队成员名字添加样式 */
a.team-member {
    color: hsl(204, 86%, 53%) !important;;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Google Sans', sans-serif !important;
}

a.team-member:hover {
    text-decoration: underline;
}

pre{
    -webkit-overflow-scrolling: touch;
     background-color: #f5f5f5;
     color: #4a4a4a;
     font-size: .875em;
    overflow-x: auto;
    padding: 1.25rem 1.5rem;
    white-space: pre;
    word-wrap: normal;
}
/* Relevant Work 样式 */
.relevant-work a {
    color: #007bff;
    text-decoration: none;
}

.relevant-work a:hover {
    text-decoration: underline;
}


ul {
    list-style-type: disc!important;
    margin-left: 20px!important;
}

.publication-title{
    font-family: 'Google Sans', sans-serif;
}

ul li span{
    font-weight: bold;
}

span{
    font-weight: bold !important;
}

.latex span{
    font-style: inherit !important;
    font-weight: inherit !important;
}

.MathJax_Display{
    font-family: Arial, sans-serif;
}

.img-title{
    text-align: center !important;
}
